---
const platform = "github";
const username = "davidstrube";
---

<footer
  class="m-2 p-3 shadow-lg bg-gray-200 rounded-md border-2 border-gray-300"
>
  <p class="font-bold">
    Learn more about my projects on <a
      class="text-blue-500 border-2 p-1 rounded-md"
      href=`https://www.${platform}.com/${username}`>{platform}</a
    >
  </p>
</footer>
