---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const pubDate = new Date(frontmatter.pubDate);
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  Published on: {pubDate.toLocaleDateString()}
  <hr />
  <slot />
  <a href="/blog/" class="text-blue-500">&lt&lt Back to blogs</a>
</BaseLayout>

<style is:global>
  h2 {
    font-size: 1.5rem;
  }
  p {
    margin: 1rem;
  }

  .astro-code {
    padding: 1rem;
  }
</style>